.container {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #f6f6fc;
}

.container--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 300px;
  max-width: 300px;
  padding: 1rem;
}

.chat {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
